* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Variables */
@import './variables/mixin';
@import './variables/extend';
@import './variables/tamanos';
@import './variables/botones';
@import './variables/contacto';

/* Paginas*/
@import './secciones/header';
@import './secciones/principal';
@import './secciones/footer'
