@mixin btnForm ($colorfondo, $colorletra){
    padding: 0.5rem;
    background-color: $colorfondo;
    color: $colorletra;
    margin-bottom: 32px;
}

@mixin cards{
    width:100%;
    height:400px;  
}

